/* Colors */

:root{
    --dark: black;
    --blue: #141922;
    --gray: #282828;
    --green: #ADFF2F;
    --light: white;
}

/* utility */

.bg-green{
    background-color: var(--green);
}

/* Main */
body{
    background-color: #141922;
    color: var(--light);
}

section{
    max-width: 900px;
    padding-top: 40px;
    padding-bottom: 50px;
}

/* Form */

.form-control:focus.shadow-style,
.form-select:focus.shadow-style{
    border-color: #ADFF2F;
    box-shadow: 0 0 0 0.25rem rgb(173, 255, 47, 0.25);
}

.form-style{
    background-color: rgba(92, 92, 92, 0.2);
    border-radius: 15px;
}

/* table */

.table.table-style{
    --bs-table-color: currentColor;
    --bs-table-bg: none;
    border-color: var(--green);
}

.table td, #name{
    padding: 2rem 0.5rem;
}

